<div id="comentario-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group autor">
            <label class="control-label h3" for="autor-field">Autor</label>
            <input id="autor-field" type="text" class="form-control"><% comentario.get('autor') %></input>
            <span class="help-block"></span>
          </div>
          <div class="form-group comentario">
            <label class="control-label h3" for="comentario-field">Comentario</label>
            <textarea id="comentario-field" rows="3" class="form-control"><% comentario.get('comentario') %></textarea>
            <span class="help-block"></span>
          </div>
          <button id="submit-comentario-form" type="submit" class="btn btn-default">Agregar comentario</button>
        </form>
      </div>
    </div>
  </div>
</div>