
<div class="container">
  <%_.forEach(data.models, function (album, i) {%>

  <div class="third">
    <a id="<%=i%>" class="album-thumbnail thumbnail" href="#" title="<%=album.get('nombre')%>"> 
      <img src="/static/img/img_load.gif" class="img-responsive" alt="<%=album.get('nombre')%>" data-echo="<%=album.get('thumbnail')%>">
      <div class="thumbnail-info">
        <%if (album.get('artista')) {%>
          <p><%=album.get('artista')%></p>
        <% } %>
        <p><%=album.get('nombre')%></p>
      </div>
    </a>
  </div>

  <%})%> 

</div>

<%if (data.hasPrevious() || data.hasNext()) {%>
<footer class="container">

  <%if (data.hasPrevious()) {%>
  <button id="previous-musica-page" class="pull-left">Videos M&aacute;s Nuevos</button>
  <% } %>
  <%if (data.hasNext()) {%>
  <button id="next-musica-page" class="pull-right">Videos M&aacute;s Viejos</button>
  <% } %>

</footer>
<% } %>