
<div class="container">
  <header class="page-header">
    <h1>Proximas fechas</h1>
  </header>

  <%_.forEach(data.models, function (presentacion) {%>

  <div class="row">
    <div class="col-md-12">
      <p class="h2"><%=presentacion.get('lugar')%></p>
      <p class="h3"><%=presentacion.get('descripcion')%></p>
      <dl class="dl-horizontal h4">
        <dt>Direcci&oacute;n</dt>
        <dd><%=presentacion.get('direccion')%></dd>
        <dt>Fecha</dt>
        <dd><%=presentacion.get('fecha')%></dd>
        <dt>Hora</dt>
        <dd><%=presentacion.get('hora')%></dd>
      </dl>
    </div>
  </div>

  <%})%>
</div>