<div class="container">
  <button id="add-comentario" class="btn btn-default btn-center">Dejar un comentario</button>
</div>

<div class="container">
  <% _.forEach(data.models, function (comentario, i) { %>

  <div class="comentario half">
    <p class="texto"><%-comentario.get('texto')%></p>
    <p class="autor"><%-comentario.get('autor')%></p>
  </div>

  <% }) %>
</div>

<%if (data.hasPrevious() || data.hasNext()) {%>
<footer class="container">

  <%if (data.hasPrevious()) {%>
  <button id="previous-muro-page" class="btn btn-default pull-left">Comentarios M&aacute;s Nuevos</button>
  <% } %>
  <%if (data.hasNext()) {%>
  <button id="next-muro-page" class="btn btn-default pull-right">Comentarios M&aacute;s Viejos</button>
  <% } %>

</footer>
<% } %>