
<div class="container">

  <%_.forEach(data.models, function (album, i) {%>

  <div class="half">
    <img src="/static/img/img_load.gif" class="img-responsive" data-echo="<%=album.get('tapa')%>" alt="Tapa de <%=album.get('nombre')%>">
  </div>

  <div class="album half">
    <h1><%=album.get('artista')%></h1>
    
    <h2><%=album.get('nombre')%></h2>
    
    <p class="descripcion"><%=album.get('descripcion')%></p>
    
    <p class="lanzamiento">Lanzamiento: <%=album.get('lanzamiento')%></p>
    
    <ol class="canciones">
      <%_.forEach(album.get('canciones'), function (cancion, j) {%>
      
      <li>
        <% if (cancion.url && cancion.url.contains('soundcloud')) { %> 
        <a class="cancion" href="#" data-toggle="modal" data-target="#myModal<%=i%><%=j%>"> <%=cancion.nombre%> </a> 
        <% } else if (cancion.url) { %> 
        <a class="cancion" href="<%=decodeURIComponent(cancion.url)%>"> <%=cancion.nombre%> </a> 
        <% } else { %>
        <p class="cancion"><%=cancion.nombre%></p> 
        <% } %>
      </li> 
      
      <% if (cancion.url && cancion.url.contains('soundcloud')) { %>
      
      <div class="modal" id="myModal<%=i%><%=j%>" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <iframe width="558" src="//w.soundcloud.com/player/?url=<%=cancion.url%>" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      
      <% } %> <%})%>
    </ol>
  </div>
    
  <%})%>
</div>