<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <%if (video.get('nombre').length > 0) {%>
    <div class="modal-header">
      <h2><%=video.get('nombre')%></h2>
    </div>
    <% } %>
    
    <div class="modal-body">
      <iframe width="853" height="480" src="<%=video.get('embed')%>" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <%if (video.get('descripcion').length > 0) {%>
    <div class="modal-footer">
      <p><%=video.get('descripcion')%></p>
    </div>
    <% } %>

  </div>
</div>

