
<div class="container">
  <header class="page-header">
    <h1>Videos</h1>
  </header>

  <%_.forEach(data.models, function (video, i) {%> <%if (i % 3 === 0) {%>
  <div class="row">
    <%}%>

    <div class="col-md-4">
      <a class="video thumbnail" href="#" data-toggle="modal" data-target="#modal-video-<%=i%>"> 
        <img src="/static/img/img_load.gif" class="img-responsive" alt="<%=video.get('nombre')%>" data-echo="<%=video.get('thumbnail')%>">
      </a>
    </div>

    <div class="modal" id="modal-video-<%=i%>" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          
          <%if (video.get('nombre').length > 0) {%>
          <div class="modal-header">
            <h2><%=video.get('nombre')%></h2>
          </div>
          <% } %>
          
          <div class="modal-body">
            <iframe width="853" height="480" src="<%=video.get('embed')%>" frameborder="0" allowfullscreen></iframe>
          </div>
          
          <%if (video.get('descripcion').length > 0) {%>
          <div class="modal-footer">
            <p><%=video.get('descripcion')%></p>
          </div>
          <% } %>
        
        </div>
      </div>
    </div>

    <%if (i % 3 === 2 || i === (data.models.length - 1)) {%>
  </div>
  <%}%> <%})%> <%if (data.hasPrevious() || data.hasNext()) {%>
  <footer class="row">
    <div class="col-md-6">
      <%if (data.hasPrevious()) {%>
      <button id="previous-videos-page" class="btn btn-default pull-left">Videos M&aacute;s Nuevos</button>
      <% } %>
    </div>
    <div class="col-md-6">
      <%if (data.hasNext()) {%>
      <button id="next-videos-page" class="btn btn-default pull-right">Videos M&aacute;s Viejos</button>
      <% } %>
    </div>
  </footer>
  <% } %>

</div>