
<div class="container">
  <%_.forEach(data.models, function (video, i) {%>

  <div class="third">
    <a id="<%=i%>" class="video thumbnail" href="<%=video.get('url')%>" title="<%=video.get('nombre')%>"> 
      <img src="/static/img/img_load.gif" class="img-responsive" alt="<%=video.get('nombre')%>" data-echo="<%=video.get('thumbnail')%>">
      <div class="thumbnail-info">
        <p><%=video.get('nombre')%></p>
      </div>
    </a>
  </div>

  <%})%> 

  <div id="modal-video" class="modal" tabindex="-1"></div>
</div>

<%if (data.hasPrevious() || data.hasNext()) {%>
<footer class="container">

  <%if (data.hasPrevious()) {%>
  <button id="previous-videos-page" class="pull-left">Videos M&aacute;s Nuevos</button>
  <% } %>
  <%if (data.hasNext()) {%>
  <button id="next-videos-page" class="pull-right">Videos M&aacute;s Viejos</button>
  <% } %>

</footer>
<% } %>