body {
	overflow: hidden;

}

#modal {
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #333;
}

#navigation ul {
	padding: 10px 30px;
	background-color: black;
	opacity:0.6;
	filter:alpha(opacity = 60);
	box-shadow: 1px 4px 10px;
}

#logo {
	max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
	position: relative;
	display: none;
	overflow: auto;
	width: 100%;
}

.container {
	height: 100%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.help-block {
  display: none;
}

#next-page, #previous-page {
  margin-bottom: 20px;
}

.page-header {
  border-bottom: none;
}

.cancion {
  margin-bottom: 0px;
}

/**********************************************/
.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: white;
	border-bottom-color: white;
}
