$blue: #477dca;
$dark-gray: #333;
$medium-gray: #616161;
$light-gray: #ddd;

$body-font-color: $dark-gray;
$action-color: $blue;
$body-font-size: 1em !default;
$body-line-height: golden-ratio(1em, 1) !default;
$body-font-family: $helvetica !default;

$default-transition: all 0.5s ease;