@import "bourbon/bourbon";

$mobile: new-breakpoint(max-width 480px 4);

@import "neat/neat";

@import "normalize";

@import "variables";
@import "typography";
@import "buttons";
@import "navigation";
@import "grid";

@import "magnific-popup/main";

/*=================================*/

#loader {
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: $dark-gray;
}

#loading-message {
  color: white;
  font-size: large;
  margin-top: 5px;
}

#logo {
  max-width: 90%;
}

section {
/*   overflow: auto; */
  margin-top: 40px;
  width: 100%;
}

/* .help-block { */
/*   display: none; */
/* } */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-responsive {
  max-width:100%;
  height:auto;
}

.thumbnail {
  opacity: 0.6;
  transition: $default-transition;
  
  &:active, &:focus, &:hover {
    opacity: 1;
    transition: $default-transition;
  }
}

.album {
  font-size: 90%;
  
  .descripcion {
  }
  
  .lanzamiento {
  }
  
  .canciones {
    font-size: 90%;
  }
  
  .cancion {
    margin: 0;
  }
  
  ol {
    @extend %default-ol;
  }
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.comentario {
  .texto {
    overflow: hidden;    
    margin-bottom: 0;
  }
  
  .autor {
    font-size: 80%;
  }
}

