@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "normalize";
@import "navigation";

@import "magnific-popup/main";

/* main styles */
body {
  overflow: hidden;
}

a:hover {
  text-decoration: underline;  
}

#loader {
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #333333;
}

#loading-message {
  color: white;
  font-size: large;
  margin-top: 5px;
}

#logo {
  max-width: 90%;
}

section {
  overflow: auto;
  width: 100%;
}

.help-block {
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  @include outer-container;
  
  margin-top: 40px;
  margin-bottom: 20px;

  .whole { 
    @include span-columns(12); 
  }
  
  .half {
    @include span-columns(6);
    margin-bottom: 20px;
  }
  
  .third {
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: 20px;
  }
  
  .fourth {
    @include span-columns(3);
    @include omega(4n);
    margin-bottom: 20px;
  }

  .img-responsive {
    max-width:100%;
    height:auto;
  }
  
  .thumbnail {
    opacity: 0.6;
    transition: all 0.5s ease;
  }
  
  .thumbnail:hover {
    opacity:1;
    transition: all 0.5s ease;
  }
  
  .cancion {
    margin: 5px 0;
  }
  
  ol {
    @extend %default-ol;
  }

}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

